@model SakuraWeb.Models.Anketa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Anketa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="poeni" class="control-label"></label>
                <input asp-for="poeni" class="form-control" />
                <span asp-validation-for="poeni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vrijemePopunjavanja" class="control-label"></label>
                <input asp-for="vrijemePopunjavanja" class="form-control" />
                <span asp-validation-for="vrijemePopunjavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.korisnikId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
